<div class="row justify-content-md-center figure {{ include.class }}">
    <div class="{% if include.colclass %}{{ include.colclass }}{% else %}col-md-6{% endif %}">
        <div class>
            <img src="{{ include.url }}" alt="{{ include.description }}"/>
        </div>
        <div class="caption">{{ include.description }}{% if include.cite %} {% cite {{ include.cite }} %}{% endif %}</div>
    </div>
</div>