<head>
  {% if jekyll.environment == 'production' %}
  {% include analytics.html %}
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if site.owner.google.verify %}<meta name="google-site-verification" content="{{ site.owner.google.verify }}">{% endif %}
  {% if site.owner.bing-verify %}<meta name="msvalidate.01" content="{{ site.owner.bing-verify }}">{% endif %}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="preconnect" href="https://cdn.jsdelivr.net">
  <link rel="preconnect" href="//cdnjs.cloudflare.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://www.googletagmanager.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">

  {% if site.plugins contains 'jekyll-seo-tag' or site.gems contains 'jekyll-seo-tag' %}
    {% comment %}
      Add metadata for search engines and social networks if jekyll-seo-tag plugin is enabled
    {% endcomment %}
    {% include head-seo.html %}
  {% else %}
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html', '' | absolute_url }}">
  {% endif %}

  <style type="text/css">
    .page-wrapper {
        margin: 0 auto;
        max-width: 1024px;
    }

    .site-logo-img {
        width: 150px;
        height: 150px;
        border-radius: 150px;
        border: 0px;
    }

    .masthead {
        clear: both;
        margin-bottom: 3em;
        text-align: center;
    }
  </style>

  <script defer>
    /* Cut the mustard */
    if ( 'querySelector' in document && 'addEventListener' in window ) {
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'js';
    }
  </script>

  <noscript>
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ site.skin | default: '/assets/css/skins/default.css' | relative_url }}">
  </noscript>

  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->

{% if page.id %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
{% endif %}

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ site.skin | default: '/assets/css/skins/default.css' | relative_url }}">
  <!-- <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"> -->

  {% if site.google_fonts %}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family={%- for font in site.google_fonts -%}{{ font.name | replace: ' ', '+' }}{% if font.weights %}:{% endif %}{{ font.weights | remove: ' ' }}{% if forloop.last != true %}|{% endif %}{%- endfor -%}">
  {% endif %}

  {%- if site.plugins contains 'jekyll-feed' or site.gems contains 'jekyll-feed' -%}
    {%- comment -%}
      Add Atom feed link if jekyll-feed plugin is enabled
    {%- endcomment -%}
    {% include head-feed.html %}
  {%- endif -%}

  {%- if site.head_scripts -%}
    {%- for script in site.head_scripts -%}
      {%- if script contains "://" -%}
        {%- capture script_path %}{{ script }}{% endcapture -%}
      {%- else -%}
        {%- capture script_path %}{{ script | absolute_url }}{% endcapture -%}
      {%- endif -%}
      <script defer src="{{ script_path }}"></script>
    {%- endfor -%}
  {%- endif -%}

  <script src="{{ "/assets/js/anchor.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
  <!-- <script defer src="{{ "/assets/js/scripts.js" | relative_url }}"></script> -->

  {% include head-custom.html %}


</head>
