<div class="row justify-content-md-center figure">
    <div class="col-md-10 quote">
      <blockquote>
        {{ include.quote }}
      </blockquote>
      <div class="caption">
        {% cite {{include.source}} %}
      </div>
    </div>
</div>