{% if page.revisions.size > 0 %}
<section>
  <h2 id="revisions">Revisions</h2>
  <ul>
  {% for rev in page.revisions %}
    <li>
      <div class="post-meta">{{ rev.date | date_to_string }} - <a href="https://gitlab.com/martisak/martisak.gitlab.io/-/commit/{{ rev.hash }}">{{ rev.message }}</a></div>
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %}