$white:    #fff;
$red:     #dc3545;
$body-bg: $red;
$body-color: $white;

$custom-font-size: 12px;

$title-font-family: "Crimson Text", serif;
$serif-font-family: "Crimson Text", serif;
$sans-serif-font-family: 'Raleway',sans-serif;
$monospace-font-family: 'Source Code Pro', monospace;
