$white:    #fff;
$red:     #dc3545;
$body-bg: $red;
$body-color: $white;

$custom-font-size: 12px;

$title-font-family: "Chakra Petch", serif;
$serif-font-family: "Chakra Petch", serif;
$sans-serif-font-family: "Bai Jamjuree",sans-serif;
$monospace-font-family: "Source Sans Pro", monospace;
$page-title-weight: 300