@import "variables";
@import "so-simple";

body {
    font-family: $sans-serif-font-family !important;
}

h1.page-title {
    font-style: normal;
    font-weight: $page-title-weight !important;
    font-family: $title-font-family;
    line-height: 0.9em;
}

h1.site-title {
    font-family: $title-font-family;
}

h1.post-title > a, h2 > a {
    text-decoration: none;
}

h1.post-title, h1, h2, h3 {
    font-family: $title-font-family !important;
    font-weight: $page-title-weight !important;
    line-height: 0.9em;

    -webkit-font-language-override: normal;
    font-language-override: normal;
    -webkit-font-kerning: auto;
    font-kerning: auto;
    -webkit-font-feature-settings: "kern","liga","dlig","hlig","cswh";
    font-feature-settings: "kern","liga","dlig","hlig","cswh";
    font-synthesis: weight style;
    font-display: swap;
}

.entry-title {
    font-weight: $page-title-weight !important;
    font-style: normal !important;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p.site-description {
    font-family: unset;
    font-style: unset;
    font-weight: unset;
}

.papers, .papers:before, .papers:after
{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .5px;

}

.papers
{
  position: relative;
}

.papers:before, .papers:after
{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(2deg);
  -o-transform: rotate(2deg);
  transform: rotateZ(2deg);
  z-index: -1;
  box-shadow: inset 0 0 30px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.1);
}

.papers:after
{
  -webkit-transform: rotateZ(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotateZ(-1deg);
}

pre, code {
    border: 0px solid #e8e8e8;
    border-radius: 8px;
}

figure.highlight  {
    border: 1px solid #e8e8e8;
    border-radius: 8px;
}

.highlight table td.gutter {
    border-right-color: #e8e8e8 !important;
}

table {
    font-size: .8em;
}

div.reading-time, span.read-time {
    text-align:    center;
    /* font-style: italic; */
    margin-bottom: 1em;
}

.quote {
  font-family: Georgia, serif;
  position: relative;
  margin: 2rem 0;
  padding: 1rem 1.5rem;
  border-left: 4px solid #00b3a3;
  background-color: #f8f8f8;
}

.quote blockquote {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  font-style: italic;
}

.quote .caption {
  font-size: 0.9rem;
  font-weight: bold;
  color: #666;
  margin-top: 0.5rem;
  text-align: right;
}

.quote:before {
  content: "“";
  font-family: Georgia, serif;
  font-size: 4rem;
  color: rgba(0, 179, 163, 0.2);
  position: absolute;
  top: -0.5rem;
  left: 0.5rem;
}

// blockquote {
//     color: inherit;
//     border-left: 1px dotted #e8e8e8;
//     padding: 10px;
//     margin-left: 10px;
//     font-size: inherit;
//     letter-spacing: initial;
//     font-style: inherit;
//     background: #f2f2f2 !important;
//     quotes: "“" "”" "‘" "’";
// }

// blockquote::before {
//   content: open-quote;
// }
// blockquote::after {
//   content: close-quote;
// }


.caption {
    text-align: justify;
    font-size: 90%;
    color: darkslategray;
    margin: 10px;
}

.figure {
    margin-bottom: 20px;
    text-align: center;
}

.svg-icon {
    width: 22px !important;
}

.img-small {
    width: 40%;
}

.pull-right {
    float: right !important;
    margin-left: 20px;
}

#myBtn {
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  -webkit-transition: all 600ms;
  transition: all 600ms;

}

#myBtn:hover {
  background-color: #555;
}

.toc-wrapper h2 {
    font-style: normal;
}

ul, ol {
    margin-bottom: 1.5rem;
}

.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.05em;
  top: 0em;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: baseline;
  margin-left: -0.36em;
  /*margin-right: -0.15em;*/
  top: -0.4em;
}

.e-content a {
    color: #337ab7 !important;
}

.social-icons, .author-links {
  font-size: 2em;
}

span.paper-clip:after {
    width: 11px;
    height: 20px;
    content: " ";
    background: white;
    display: block;
    position: absolute;
    right: 2px;
    top: 5px;
    border-radius: 10px;
    border: 2px solid black;
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
span.paper-clip {
    background: white;
    height: 40px;
    width: 15px;
    border-radius: 10px;
    border: 2px solid black;
    display: inline-block;
    position: absolute;
}

div#table-of-contents {
    position: sticky;
    top: 2rem;
    text-align: left;
    /* align-self: start; */
}

div#table-of-contents > ol {
    padding-left: 0px;
}

div#table-of-contents > ol > li > ol {
    padding-left: 5px;
}

div#table-of-contents > ol > li> ol > li > ol {
    padding-left: 10px;
}

li.toc-entry.active {
    font-weight: 600;
}

.anchorjs-link { 
  position: relative !important;
}