---
layout: default
---

<main id="main" class="main-content" aria-label="Content">

  

  <article class="h-entry">
    {% include page-image.html %}
    <div class="page-wrapper">
      <header class="page-header">
        {% assign title = page.title | markdownify | strip_html %}
        {% if page.link %}
          <h1 id="page-title" class="page-title p-name"><a href="{{ page.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 id="page-title" class="page-title p-name">{{ title }}</h1>
        {% endif %}

        <p class="post-meta">
        <i class="fas fa-calendar"></i>&nbsp;<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}
        {%- include readtime.html content=content -%}
        </p>

      </header>

      <div class="page-sidebar">
        {% include page-author.html %}

        <div class="d-none d-lg-block">
          {% include page-categories.html %}
          {% include page-tags.html %}
        </div>
          
          <h3 class="page-taxonomies-title no-anchor">Table of contents</h3>
          <div id="table-of-contents">
            {{ content | toc_only }}
          </div>

      </div>

      <div class="page-content">
        <div class="e-content">
          {{ content  | replace: 'LaTeX', '<span class="latex">L<sup>a</sup>T<sub>e</sub>X</span>' | replace: '\sim', '' }}
        </div>

        <h2 id="references">References</h2>
        {% bibliography --cited %}

        <h2 id="citation">Suggested citation</h2>
        <p>If you would like to cite this work, here is a suggested citation in BibTeX format.</p>

{% highlight bibtex %}
@misc{isaksson_{{ page.date | date: "%Y" }},
  author="Isaksson, Martin",
  title={% raw %}{{{% endraw %}{{site.title}} --- {{ page.title}}{% raw %}}}{% endraw %},
  year={{ page.date | date: "%Y" }},
  url={{site.url}}{{page.url}},
  note = "[Online; accessed {{ 'now' | date: "%Y-%m-%d" }}]"
}
{% endhighlight %}

        {% if page.share %}
          {% include social-share.html %}
        {% endif %}

        {% include revision.html %}

        {% if site.disqus.shortname %}
          {% include disqus-comments.html %}
        {% endif %}

        {% include page-pagination.html %}

      </div>
    </div>
  </article>

  <!--
Sticky Table of Contents with Scrolling Active States
https://css-tricks.com/sticky-table-of-contents-with-scrolling-active-states/
-->
<script>

   anchors.options = {
     class: "fa-solid fa-link fa-xs",
     icon: ''
   }

   anchors.add('h2, h3:not(.no-anchor)');
   
   anchors.options = {
      placement: 'left',
      icon: '',
      class: "fa-solid fa-solid fa-anchor fa-xs"
    };

    anchors.add('.e-content > p');

   window.addEventListener('DOMContentLoaded', () => {
      const observer = new IntersectionObserver(entries => {
         entries.forEach(entry => {
            const id = entry.target.getAttribute('id');
            if (entry.intersectionRatio > 0) {
               document.querySelector(`#table-of-contents li a[href="#${id}"]`).parentElement.classList.add('active');
            } else {
               document.querySelector(`#table-of-contents li a[href="#${id}"]`).parentElement.classList.remove('active');
            }
         });
      });

      // Track all sections that have an `id` applied
      document.querySelectorAll('h1[id]').forEach((section) => {
         observer.observe(section);
      });

      document.querySelectorAll('h2[id]').forEach((section) => {
         observer.observe(section);
      });

      document.querySelectorAll('h3[id]').forEach((section) => {
         observer.observe(section);
      });


   });
</script>