---
layout: default
---

<main id="main" class="main-content" aria-label="Content">
  <article class="h-entry">
    {% include page-image.html %}
    <div class="page-wrapper">
      <header class="page-header">
        {% assign title = page.title | markdownify | strip_html %}
        {% if page.link %}
          <h1 id="page-title" class="page-title p-name"><a href="{{ page.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 id="page-title" class="page-title p-name">{{ title }}</h1>
        {% endif %}

        <p class="post-meta">
        <i class="fa-solid fa-calendar-day"></i>&nbsp;<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{page.date | date: "%B %Y"}}
        </time>
        {%- if page.author -%}
          <br><i class="fa-solid fa-user-astronaut"></i>&nbsp;<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}
        {%- if page.in -%}
          <br><i class="fa-solid fa-location-dot"></i>&nbsp;{{ page.in }}
        {%- endif -%}
        {%- if page.online -%}
          <br><i class="fa-solid fa-download"></i>&nbsp;<a href="{{ page.online }}">{{page.title}}</a>
        {%- endif -%}

        </p>
      </header>

      <div class="page-content">
        <div class="e-content">
         
            {{ content }}
         
            <h2>Suggested Citation</h2>
            <!--<pre class="bibtex">{{- page.bibtex -}}</pre>-->
            {% highlight bibtex %}{{page.bibtex}}{% endhighlight %}

            <h2>Available</h2>
            <i class="fa-solid fa-download"></i>&nbsp;<a href="{{ page.online }}">{{page.title}}</a>

          </div>
        </div>

        {% if page.share %}
          {% include social-share.html %}
        {% endif %}

        {% include revision.html %}

        {% if site.disqus.shortname %}
          {% include disqus-comments.html %}
        {% endif %}

        {% include page-pagination.html %}

      </div>

    </div>
  </article>

  <script>

    anchors.options = {
      class: "fa-solid fa-link fa-xs",
      icon: ''
    }
 
    anchors.add('h2, h3:not(.no-anchor)');
    
    anchors.options = {
       placement: 'left',
       icon: '',
       class: "fa-solid fa-solid fa-anchor fa-xs"
     };
 
     anchors.add('.e-content > p');
  </script>
